---
title: Speaking
layout: page
standalone: true
pageOrder: 2
---


.jumbotron
  p.lead
    | I love to talk. Here are a few of my favourite presentations.

.row
  .col-md-7
    iframe(src='http://www.haikudeck.com/e/wRws0vwmYC', width='640', height='541', frameborder='0', marginheight='0', marginwidth='0', scrolling='no')
      br
      a(href='http://www.haikudeck.com/?utm_campaign=embed&utm_source=player&utm_medium=text-link', style='font-family: arial,sans-serif; font-size: 8pt;') Created with Haiku Deck, the free presentation app for iPad

  .col-md-5
    .panel.panel-default
        .panel-heading
          h3.panel-title API Design - Best Practices in Hypermedia
        .panel-body
          | A discussion on best practices in API design distilled mostly from the book 
          a(href="http://www.amazon.ca/RESTful-Web-APIs-Leonard-Richardson/dp/1449358063") RESTful Web APIs
          | . 
          p.text-right
            | January 2014
        .panel-footer
          a(href="http://www.haikudeck.com/p/wRws0vwmYC/hypermedia-apis") View on HaikuDeck.com
          
