@import "elements.less";
@import "retina.less";

.border-radius-bottom(@radius: 5px) {
  -webkit-border-bottom-right-radius: @radius;
     -moz-border-bottom-right-radius: @radius;
          border-bottom-right-radius: @radius;

  -webkit-border-bottom-left-radius: @radius;
     -moz-border-bottom-left-radius: @radius;
          border-bottom-left-radius: @radius;
}

@heading-font:'Bree Serif', Georgia, Times, serif;
@body-font: 'Open Sans', Helvetica, Arial, sans-serif;

/* Make all images responsive */
img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Increase spacing between paragraphs and lines */
p {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.4em;
  font-size: 16px;
  font-family: @body-font;
}

body {
  font-family: @body-font;
  .at2x('/img/bg.png');
}

h1 {
  font-family: @heading-font;
}

h2 {
  font-family: @heading-font;
}

h3 {
  font-family: @heading-font;
}


.page-container {
  background-color: #ffffff;
  .rounded(15px);
}

.box-container {
  background-color: #ffffff;
  .border-radius(0, 15px, 15px, 0);
}

.landing-header {
	height: 650px;
	background: url(/img/header-bg.jpg) center center no-repeat;
	background-size: cover;
  margin-top: -21px;
}

.headline {
  padding-top: 80px;
  margin-top: 2em;
  font-size: 400%;
  font-weight: bold;
  color: #FFF;
}

.margin-base-vertical {
  margin: 40px 0;
}

.blurb {
  background-color: #f8f8f8;
  .rounded(15px);
  padding: 20px;
}

footer {
  margin-top: 21px;
  color: #fff;
  a {
    color: #fff;
    text-decoration: underline; 
  }
  a:hover {
    color: #fff;
  }
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #333;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #008cba;
}
