I am a Software Developer. I work at <a
  href="http://www.workiva.com">Workiva</a> with a bunch of great people. I
run a business as <a href="http://redfinchsoftware.com">Red Finch Software</a>.
You can find me online as <a
href="https://twitter.com/soofaloofa">soofaloofa</a>. I love to teach, learn,
speak, and write about business and software. 

I'm interested in distributed systems, cloud computing and machine learning. I
currently work on data engineering, data workflows, and data processing at
scale.

