<footer>
 <div class="footer-above text-center">
   <div class="container">
     <div class="row">
       <div class="footer-col col-md-3">
         <h3>App Engine</h3>
         <ul class="list-unstyled">
           <li><a href="/series/mapreduce-api/">MapReduce API</a></li>
           <li><a href="/series/pipelines-api/">Pipelines API</a></li>
           <li><a href="/series/cloud-endpoints/">Cloud Endpoints</a></li>
         </ul>
       </div>

       <div class="footer-col col-md-3">
         <h3>APIs</h3>
         <ul class="list-unstyled">
           <li>
             <a href="/posts/2014-03-11-on-choosing-a-hypermedia-format/">On Choosing a Hypermedia Format</a>
           </li>
           <li>
             <a href="/posts/2014-03-27-when-to-use-http-put-and-http-post/">When to use HTTP PUT</a>
           </li>
         </ul>
       </div>

       <div class="footer-col col-md-3">
         <h3>Random</h3>
         <ul class="list-unstyled">
           <li>
           <a href="http://sookocheff.com/posts/2013-04-09-submitting-a-unity3d-game-to-the-mac-app-store/"> Unity3d on the Mac App Store</a>
           </li>
           <li>
             <a href="http://sookocheff.com/posts/2011-07-27-saving-canvas-data-to-an-image-file-with-javascript-and-php/">Saving Canvas Data to an Image</a>
           </li>
         </ul>
       </div>

       <div class="footer-col col-md-3">
         <h3>Social</h3>
         <ul class="list-unstyled">
           <li><a href="http://www.twitter.com/soofaloofa">Twitter</a></li>
           <li><a href="http://www.facebook.com/kevin.sookocheff">Facebook</a></li>
           <li><a href="http://www.linkedin.com/in/kevinsookocheff">LinkedIn</a></li>
           <li><a href="https://plus.google.com/+KevinSookocheff">Google+</a></li>
           <li><a href="https://github.com/soofaloofa">Github</a></li>
         </ul>
       </div>
     </div>
   </div>
 </div>
 <div class="footer-below text-center">
     <div class="container">
         <div class="row">
             <div class="col-lg-12">
                 &copy; Kevin Sookocheff · <a href="#">Top</a>
             </div>
         </div>
     </div>
 </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
<script src="/js/vendor/retina.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'kevinsookocheff'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
</body>
</html>
