<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Kevin Sookocheff</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="/posts/">Blog</a>
        </li>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            Subscribe <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="http://eepurl.com/KJE01">Email</a></li>
            <li><a href="http://sookocheff.com/index.xml">RSS</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
