| Posted on 
time(datetime=posted.getFullYear() + "-" + posted.getMonth() + "-" + posted.getDate())= posted.toLocaleDateString()
| . 

if updated
  - updated = new Date(updated)
  | Updated on 
  time(datetime=updated.getFullYear() + "-" + updated.getMonth() + "-" + updated.getDate())= updated.toLocaleDateString()
  | .
