---
layout: default
---

section.page
  if document.tag
      .page-header 
        h1
          | Tag: 
          = document.tag
  else
      .page-header: h1= document.title

  .page-content!= content
