---
layout: page
---

article.post

  p
    small.text-muted
      != partial('post-date.html.jade', {date: document.date, author: document.author})

  .post-content!= content

  hr

  p
    != partial('share-this.html.jade', {url: document.url, title: document.title})

  hr

  .well
    .row
      .col-md-8.col-md-offset-2
        h4 About Kevin

    .row
      .col-md-2.col-md-offset-2
        img(src="/img/profile.png")

      .col-md-6
        p
          != partial('blurb.html.jade')

        p.lead.social-links
          a(href='http://www.twitter.com/soofaloofa')
            i.fa.fa-twitter-square
          &nbsp;
          a(href='http://www.facebook.com/kevin.sookocheff')
            i.fa.fa-facebook-square
          &nbsp;
          a(href='http://www.linkedin.com/in/kevinsookocheff')
            i.fa.fa-linkedin-square
          &nbsp;
          a(href='https://plus.google.com/+KevinSookocheff')
            i.fa.fa-google-plus-square
          &nbsp;
          a(href='https://github.com/soofaloofa')
            i.fa.fa-github-square
          &nbsp;
          a(href='http://sookocheff.com/rss.xml')
            i.fa.fa-rss-square

  hr

  != partial('post-comments.html')
